<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .btn-div {
            margin-left: 40%;
            margin-top: 10%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#alignment-example" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Hello App</a>
            </div>


            <div class="collapse navbar-collapse" id="alignment-example">
                <!-- Links -->
                <ul class="nav navbar-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li id="user-info" style="display: none;">
                        <a href="#" id="navbar-user">Welcome <span id="user-name"></span></a>
                    </li>
                    <li id="logout-btn" style="display: none;">
                        <a href="#" id="logoutButton">Logout</a>
                    </li>

                    <li id="login-btn">
                        <a href="#" data-toggle="modal" data-target="#myModal2">Login</a>
                    </li>
                    <li id="register-btn">
                        <a href="#" data-toggle="modal" data-target="#myModal1">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>


        <div class="signup-container">
            <!-- Modal -->
            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <center>
                                <h3 class="modal-title">Sign Up</h3>
                            </center>
                        </div>
                        <div class="modal-body">
                            <form id="signupform">
                                <label for="email">Email:</label>
                                <input type="email" placeholder="Enter Your Email" name="email" id="email"
                                    class="form-control">
                                <br>
                                <label for="first_name">First Name :</label>
                                <input type="text" placeholder="Your First Name" name="first_name" id="first_name"
                                    class="form-control">
                                <br>
                                <label for="last_name">Last Name :</label>
                                <input type="text" placeholder="Your Last Name" name="last_name" id="last_name"
                                    class="form-control">
                                <br>
                                <label for="password">Password :</label>
                                <input type="password" placeholder="Enter Your Password" name="password" id="password"
                                    class="form-control">
                                <br>
                                <label for="password">Confirm Password</label>
                                <input type="password" placeholder="Re-enter your password" name="confirm_password"
                                    id="confirm_password" class="form-control">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-success" value="Sign Up">

                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>


        <div class="login-container">
            <!-- Modal -->
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <center>
                                <h3 class="modal-title">Login</h3>
                            </center>
                        </div>
                        <div class="modal-body">
                            <form id="loginform">
                                <label for="email">Email:</label>
                                <input type="email" placeholder="Enter Your Email" name="login-email" id="login-email"
                                    class="form-control">
                                <br>
                                <label for="password">Password :</label>
                                <input type="password" placeholder="Enter Your Password" name="loginpassword"
                                    id="loginpassword" class="form-control">
                                <br>
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-success" value="Login ">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <script>

        // SignUp
        $(document).ready(function () {
            $("#signupform").submit(function (e) {
                console.log('hi');
                e.preventDefault();

                $.ajax({
                    url: 'register/',
                    type: 'POST',
                    data: {
                        email: $("input[name='email']").val(),
                        first_name: $("input[name='first_name']").val(),
                        last_name: $("input[name='last_name']").val(),
                        password: $("input[name='password']").val(),
                        password2: $("input[name='confirm_password']").val(),
                        csrfmiddlewaretoken: '{{csrf_token}}',
                    },
                    success: function (response) {
                        alert("Sign up successfull");
                        $('#myModal1').modal('hide');
                    },
                    error: function (xhr) {
                        alert("Sign Up failed: " + xhr.responseText);
                    }
                });
            });
        });


        // Login
        $(document).ready(function () {
            $("#loginform").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: 'login/',
                    type: 'POST',
                    data: {
                        email: $("input[name='login-email']").val(),
                        password: $("input[name='loginpassword']").val(),
                        csrfmiddlewaretoken: '{{csrf_token}}',
                    },
                    success: function (response) {
                        alert("Log in Successfull");
                        $('#myModal2').modal('hide');

                
                        localStorage.setItem('access_token', response.token.access);
                        localStorage.setItem('refresh_token', response.token.refresh);
                        localStorage.setItem('user', JSON.stringify(response.user));
                        
                        
                        updateUI();
                    },
                    error: function (xhr) {
                        alert("Login failed: " + xhr.responseText);
                    }
                });
            });

            // Update the UI with user details
            function updateUserUI(user) {
                $("#user-name").text(user.first_name + ' ' + user.last_name); 
                $("#user-info").show(); 
                $("#logout-btn").show();
                $("#login-btn").hide(); 
                $("#register-btn").hide(); 
            }

            // Update the UI based on login status
            function updateUI() {
                var storedUser = localStorage.getItem('user');
                if (storedUser) {
                    var user = JSON.parse(storedUser);
                    updateUserUI(user);
                }
                else {
                    $("#user-info").hide();
                    $("#logout-btn").hide();
                    $("#login-btn").show();
                    $("#register-btn").show();
                }
            }

            updateUI();

            
            // Logout 
            $("#logoutButton").click(function (e) {
                e.preventDefault();

                var refresh_token = localStorage.getItem('refresh_token');

                $.ajax({
                    url: 'logout/',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        'refresh_token': refresh_token,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    }),
                    success: function (response) {
                        alert("Logged Out Successfully");

                        localStorage.removeItem('access_token');
                        localStorage.removeItem('refresh_token');
                        localStorage.removeItem('user');

                        updateUI();
                    },
                    error: function (xhr) {
                        alert("Logout failed: " + xhr.responseText);
                    }
                });
            });
        });

    </script>
</body>

</html>